body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
    box-shadow: 10px 10px 12px 0 rgba(0,0,0,0.07);

}

.cell {
    display: inline-block;
    padding: 12px 15px;
    white-space: nowrap;
    text-align: left;
}

.cell:nth-child(1) {
    width: 10px;
}
.cell:nth-child(2) {
    width: 120px;
}
.cell:nth-child(3) {
    width: 100px;
}
.cell:nth-child(4) {
    width: 150px;
}

.cell input {
    width: 100%;
    font-size: 16px;
}

.table th {
    color: #ffffff;
    font-weight: bold;
    background-color: #009879;

}

.table-row {
    border-bottom: 1px solid #dddddd;
}
.table-row:nth-of-type(even) {
    background-color: #f3f3f3;
}
.table-row:last-of-type {
    border-bottom: 2px solid #009879;
}
.table-row:hover {
    background-color: #dddddd;
}

.table-row button {
    color: #8b0000;
}

.input-row button {
    color: #009879;
}



.table th:first-child { border-top-left-radius: 5px; }
.table th:last-child { border-top-right-radius: 5px; }

.button {
    padding: 6px;
    background-color: inherit;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}